.all {
  width: 150px;
  margin-left: 10px;
}
.label {
  margin-left: 20px;
  font-weight: bold;
}

.box {
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.search {
  width: 600px;
  height: 30px;
  margin: 10px;
}
.searchBox {
  margin-top: 30px;
}

.results {
  border: 2px dashed #D4D3D2;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  height: 100%;
  margin-top: 100px;
  padding: 20px;
}
.timestamp {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}