
.all {
    width: 200px;
}

.box{
    margin: 0 auto;
width:90% ;
 height:20vh ;
  border:2px dashed black;
 text-align: center;
 margin-bottom: 50px;


}

.results{
border:2px dashed black;
margin: 0 auto;
width:90% ;
 height:100% ;
 text-align: center;
padding-top: 50px;
padding:20px;
}


.loader {
  
    margin: 0 auto;
    border: 16px solid black;
    border-radius: 50%;
    border-top: 12px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }